html {  font-family: Verdana,Arial, sans-serif; }
p { font-family: Verdana,Arial, sans-serif;   }
a:link,a:visited, a
{
  color:#586D8B;
  text-decoration:none;
  cursor:pointer;
  }
a:hover
{
  color:#1B2C43;
  }

BODY, body.sidebar, body.content
{
  font-family: Verdana, Arial, sans-serif;
  margin: 20px 0px 0px 20px;
  font-size: 11px;
  }
body.sidebar{  background-color: #f0f0f0; }
body.content{  margin: 20px 20px 20px 20px; }
body.header{ background: #201e5f url('../images/STIwebbanner.jpg') no-repeat fixed center;}


SELECT
{
  font-weight: bold;
  color: #000000;
  }

.menuheader
{	
  font-weight: bold;
  font-size: 14px;
  color: #000066;
  text-align:left;
  font-family: Verdana, sans-serif;
  }

.menusubheader
{
  color: #586D8B;
  font-size: 12px;
  font-weight: bold;
  font-family: Verdana, sans-serif;
  }

.menutext
{
  font-size: 11px; 
  font-family: Verdana, sans-serif;
  }

.menulink
{
  font-weight: bold;
  font-size: 12px;
  font-family: Verdana, sans-serif;
  }
.smalllink
{
  font-size: 10px;
  font-family: Verdana, sans-serif;
  }
.productheader
{
  color: #586D8B;
  font-size: 14px;
  font-weight: bold;
  font-style:italic;
  font-family: Verdana, sans-serif;
  }

.contentheader
{	
  font-size: 18px;
  color: #000066;
  font-weight: bold;
  }

.contenttext
{
  font-size: 12px;
  }

.contentlargetext
{
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  }

.contentlargetext2
{
  font-size: 16px;
  font-weight: bold;
  }

.contentlink
{
  font-size: 12px;
  }

.contentbold
{
  color: #000051;
  font-weight: bold;
  font-size: 12px;
  }

.contentunbold
{
  color: #000051;
  font-size: 12px;
  }

.contentwhite
{
  font-size: 12px;
  color: #F6F6F7;
  }

.contentred
{
  font-size: 12px;
  color: #FF0000;
  }

.contentheaderwhite
{
  font-size: 14px;
  font-weight: bold;
  color: #F6F6F7;
  }

.hpaddedtable td
{
  vertical-align: top;
  padding-top: 0px;
  padding-bottom: 0px;
  }
table {   font-size: 11px; }
.paddedtable
{
  font-size: 11px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
 
  }
.paddedtable TD
{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 3px;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #FFFFFF;
  background-color: #F6F6F7;
  }

.paddedtable TH
{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 3px;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #FFFFFF;
  background-color: #DDDDDD;
  text-align: left;
  }

.curvedbarcell
{
  background-image: url(/images/curvedbar4.gif);
  background-repeat: no-repeat;
  height: 31px;
  padding: 5px;
  }

.curvedbarcell2
{
  background-image: url(images/curvedbarshort.gif);
  background-repeat: no-repeat;
  height: 31px;
  padding: 5px;
  }
.maintable
{
  width: 770px;
  padding: 0px 5px 0px 5px;
  text-align: center;
  border-width: 1px 5px 1px 5px;
  border-style: solid;
  border-color: 201e5f;
  background-color: white;
  }

.sidemenucell
{
  width: 150px;
  background-color: #F6F6F7;
  }

.contentcell
{
  border-left:1px solid #B4B4B4;
  width: 570px;
  }

.menubodycell
{
  border-style: none;
  padding: 1px 1px 1px 1px;
  }

.contentbodycell
{
  padding: 10px 10px 10px 10px;
  }

.menurule
{
  width: 200px;
  height: 1px;
  }

.contentrule
{
  width: 100%;
  height: 1px;
  }

input.textbox
{
  font-size:9px;
  color:#6F6F6F;
  height:17px;
  }

input.button
{
  font-size:9px;
  color:#6F6F6F;
  height:17px;
  }

select
{
  font-size:9px;
  color:#6F6F6F;
  height:17px;
  }


textarea 
{
  font-size:14px;
  font-family:sans-serif;
  }

ul
{
  list-style-type: square;
  }

ul ul
{
  list-style-type: disc;
  }

ul ul ul, ul ul ul ul, ul ul ul ul ul /* 3 4 and 5 depths */
{
  list-style-type: circle;
  }

.code
{
  BORDER-RIGHT: #d1d7dc 1px solid;
  BORDER-TOP: #d1d7dc 1px solid;
  FONT-SIZE: 11px;
  BORDER-LEFT: #d1d7dc 1px solid;
  COLOR: navy;
  BORDER-BOTTOM: #d1d7dc 1px solid;
  FONT-FAMILY: verdana, Courier, 'Courier New', monospace;
  BACKGROUND-COLOR: #fafafa
  }


.treelist { }
.treelist li { }
ul.mktree li { list-style: none; }
ul.mktree, ul.mktree ul, ul.mktree li { margin-left: 10px; padding: 0px; }
ul.mktree  li .bullet { padding-left: 15px; }
ul.mktree  li.liOpen    .bullet { cursor: pointer; background: url(../images/minus.gif)  center left no-repeat; }
ul.mktree  li.liClosed  .bullet { cursor: pointer; background: url(../images/plus.gif)   center left no-repeat; }
ul.mktree  li.liBullet  .bullet { cursor: default; background: url(../images/bullet.gif) center left no-repeat; }
ul.mktree  li.liOpen    ul { display: block; }
ul.mktree  li.liClosed  ul { display: none; }

.treeview { border-collapse: collapse;  font-family: arial; }
.treeview th { background: #201e5f; color: white; border: 2px solid black; padding: 7px; }
.treeview td { border: 1px solid #ccc;}
.treeview td.left { text-align: left; }
.treeview td.right { text-align: right; }
.treeview td.center { text-align: center; }
.treeview td.justify { text-align: justify; }

.difftable td { font-size: small; border-left: 1px solid black; border-right: 1px solid black; }
.difftable th { background: #201e5f; color: white; border-bottom: 1px solid black; padding: 7px; }
.difftable { border-collapse: collapse; border: 1px solid black; }
.added { background: lightblue; }
.word { background: blue; color: white;}
.removed { background: pink; }
.changed { background: lightgreen; }
.linenum { border: 1px solid black; vertical-align: top; background: grey; color: white; }
.splitter { background: black; }
.difftext { width: 50%;}

