syntax: glob
dist/
build/
private
jar-contents/
output-class/
output-jar/
output-jimple/
output.jar
glob:generated.cu
glob:generated.c
glob:native/NativeCpuDevice.o
glob:native/generated.o
glob:Rootbeer.jar
glob:native/Handles.o
glob:code_file.cubin
glob:native/Cuda2DeviceMemory.o
glob:native/CudaRuntime2.o
glob:native/FastMemory.o
cl_script.bat
cudaruntime.dll
native/Cuda2DeviceMemory.obj
native/cudaruntime.exp
native/cudaruntime.lib
native/Handles.obj
native/FastMemory.obj
native/CudaRuntime2.obj
glob:native/nativecpudev.so.1
glob:*.so.1
/.project
