<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.intooitus.model.meta.resources">
      <container
            location="res/html/"
            name="welcome_page"
            order="2">
      </container>
      <container
            location="res/"
            name="resource_location"
            order="2">
      </container>
   </extension>
</plugin>
