syntax: glob
dist/
build/
private
jar-contents/
output-class/
output-jar/
output-jimple/
output.jar
glob:generated.cu
glob:generated.c
glob:native/NativeCpuDevice.o
glob:native/generated.o
glob:Rootbeer.jar
glob:native/Handles.o
glob:code_file.cubin
glob:native/Cuda2DeviceMemory.o
glob:native/CudaRuntime2.o
glob:native/FastMemory.o
cl_script.bat
cudaruntime.dll
native/Cuda2DeviceMemory.obj
native/cudaruntime.exp
native/cudaruntime.lib
native/Handles.obj
native/FastMemory.obj
native/CudaRuntime2.obj
glob:native/nativecpudev.so.1
glob:*.so.1
/.project
/target
/.settings
/.classpath
native/*.o
native/*.so.1
examples/*/code_file.ptx
examples/*/cudaruntime*
examples/*/generated.*
examples/*/missing_classes.txt
examples/MMult/MMult.jar
examples/ArraySumApp/ArraySumApp.jar
.DS_Store
Rootbeer.jar
examples/ArraySumApp/ArraySumApp-GPU.jar
examples/ArraySumApp/output.txt
examples/ArraySumApp/output_err.txt
examples/MMultApp/MMultApp-GPU.jar
examples/MMultApp/MMultApp.jar
examples/QuickSort/QuickSort-GPU.jar
examples/QuickSort/QuickSort.jar
examples/RandomDemap/RandomRemapApp-GPU.jar
examples/RandomDemap/RandomRemapApp.jar
gtc2013/Matrix/MatrixApp-GPU.jar
gtc2013/Matrix/MatrixApp.jar
native/cudaruntime.dylib
MegaMandel2-GPU.jar
MegaMandel2-CPU.jar
MegaMandel2-Packed.jar
MegaMandel2.jar
mandellib.jar
MultiDimRay2-GPU.jar
MultiDimRay2-CPU.jar
MultiDimRay2-Packed.jar
MultiDimRay2.jar
raylib.jar
mandellib-GPU.jar
raylib-GPU.jar
ArrayMultApp-GPU.jar
ArrayMultApp.jar
bin/
KeepMainTest.jar
KeepMainTest-GPU.jar
CUDARuntime.o
CUDAContext.o
FixedMemory.o
OpenCLRuntime.o
csrc/rootbeer_cuda_x64.so.1
csrc/rootbeer_opencl_x64.so.1
csrc/rootbeer_x64.so.1
MultiGpuApp-GPU.jar
MultiGpuApp.jar
examples/MultiGpu/csrc/
