syntax: glob
dist/
build/
private
jar-contents/
output-class/
output-jar/
output-jimple/
output.jar
glob:generated.cu
glob:generated.c
glob:Rootbeer.jar
glob:code_file.cubin
cl_script.bat
/.project
/target
/.settings
/.classpath
csrc/*.o
csrc/*.obj
examples/*/code_file.ptx
examples/*/cudaruntime*
examples/*/generated.*
examples/*/missing_classes.txt
examples/MMult/MMult.jar
examples/ArraySumApp/ArraySumApp.jar
.DS_Store
Rootbeer.jar
examples/ArraySumApp/ArraySumApp-GPU.jar
examples/ArraySumApp/output.txt
examples/ArraySumApp/output_err.txt
examples/MMultApp/MMultApp-GPU.jar
examples/MMultApp/MMultApp.jar
examples/QuickSort/QuickSort-GPU.jar
examples/QuickSort/QuickSort.jar
examples/RandomRemap/RandomRemapApp-GPU.jar
examples/RandomRemap/RandomRemapApp.jar
gtc2013/Matrix/MatrixApp-GPU.jar
gtc2013/Matrix/MatrixApp.jar
MegaMandel2-GPU.jar
MegaMandel2-CPU.jar
MegaMandel2-Packed.jar
MegaMandel2.jar
mandellib.jar
MultiDimRay2-GPU.jar
MultiDimRay2-CPU.jar
MultiDimRay2-Packed.jar
MultiDimRay2.jar
raylib.jar
mandellib-GPU.jar
raylib-GPU.jar
ArrayMultApp-GPU.jar
ArrayMultApp.jar
bin/
KeepMainTest.jar
KeepMainTest-GPU.jar
MultiGpuApp-GPU.jar
MultiGpuApp.jar
examples/MultiGpu/csrc/
MatrixApp-GPU.jar
MatrixApp.jar
*.exp
*.lib
taq
native/
